:root {
  --primary: #555555;
  --link: #6481df;
  --header-col: #111111;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'verdana', sans-serif;
}


h1 {
  font-size: 2rem;
  color: var(--header-col);
  font-family: 'verdana', sans-serif;
}


p {
  font-size: 1.0rem;
  color: var(--primary);
}


a {
  color: var(--link);
}
a:link {
  text-decoration: none;
}


.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  width: 100%;
  height: 100%;
  background-image: url('../img/cute_pic.jpg');
  background-size: cover;
  background-position: center;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-wrapper {
  width: 80%;
}

.info-wrapper > * {
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }

  .header {
    height: 100vh;
    max-height: 100vw;
  }

  .info {
    display: block;
  }

  .info-wrapper {
    margin: 5rem auto;
  }
  
}

.icon-bar {
    margin-top: 2rem;
}

.icon {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
